
  <%- include('../_partials/header'); %>

  <h1 style="padding-bottom: 3em;">single listing details page</h1>

  <ul class="list-group list-group-flush">
      <li class="list-group-item active">TODO Chintan</li>
      <li class="list-group-item">Create a nice page that will display all fields in a single listing(photo, title, description, distance to school, address, etc...</li>
      <li class="list-group-item">listing features will be a collection of tags pertaining to that listing (a jumbotron with a few disabled small buttons might look ok?</li>
      <li class="list-group-item">Please modify our header partial view to contain a disclaimer (above the navbar) that notifies the user this is a school project for SFSU</li>
    </ul>

    <button class="btn btn-warning" onclick="location.href='/'">Back</button>

<%- include('../_partials/footer'); %>



