
  <%- include('_partials/header'); %>
<br>
<br>
<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Create a Listing</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Title</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Type</label>
                                    <div class="col-lg-9">
                                        <select class="form-control">
                                            <option value="Apartment">Apartment</option>
                                            <option value="Bungalow">Bungalow</option>
                                            <option value="Room">Room</option>
                                            
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Rent</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Size</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Bedrooms</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Bathrooms</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                               <div class= "col-md-4"> <label class="checkbox-inline">  <input type="checkbox" value="">Laundry</label></div>
                               <div class= "col-md-4"> <label class="checkbox-inline">  <input type="checkbox" value="">Heater</label></div>
                               <div class= "col-md-4"> <label class="checkbox-inline">  <input type="checkbox" value="">Parking</label></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Description</label>
                                    <div class="col-lg-9">
                                <textarea class="form-control" rows="5" id="description"></textarea>
                              </div>
                                 </div>



                        
                                <div class="form-group row">
                                    <div class="container">
                                        <fieldset class="form-group">
                                            <a href="javascript:void(0)" onclick="$('#pro-image').click()">Upload Image</a>
                                            <input type="file" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
                                        </fieldset>
                                        <div class="preview-images-zone">
                                            <div class="preview-image preview-show-1">
                                                <div class="image-cancel" data-no="1">x</div>
                                                <div class="image-zone"><img id="pro-img-1" src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5Ny85NTkvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzYzOTcxNjY1LmpwZw=="></div>
                                                
                                            </div>
                                            <div class="preview-image preview-show-2">
                                                <div class="image-cancel" data-no="2">x</div>
                                                <div class="image-zone"><img id="pro-img-2" src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/flip.jpg"></div>
                                                
                                            </div>
                                            <div class="preview-image preview-show-3">
                                                <div class="image-cancel" data-no="3">x</div>
                                                <div class="image-zone"><img id="pro-img-3" src="http://i.stack.imgur.com/WCveg.jpg"></div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                        </div>

                                <script> 
                                $(document).ready(function() {
    document.getElementById('pro-image').addEventListener('change', readImage, false);
    
    $( ".preview-images-zone" ).sortable();
    
    $(document).on('click', '.image-cancel', function() {
        let no = $(this).data('no');
        $(".preview-image.preview-show-"+no).remove();
    });
});



var num = 4;
function readImage() {
    if (window.File && window.FileList && window.FileReader) {
        var files = event.target.files; //FileList object
        var output = $(".preview-images-zone");

        for (let i = 0; i < files.length; i++) {
            var file = files[i];
            if (!file.type.match('image')) continue;
            
            var picReader = new FileReader();
            
            picReader.addEventListener('load', function (event) {
                var picFile = event.target;
                var html =  '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '</div>';

                output.append(html);
                num = num + 1;
            });

            picReader.readAsDataURL(file);
        }
        $("#pro-image").val('');
    } else {
        console.log('Browser not support');
    }
}

                                
                                
                                </script>


                                <div class="text-center form-group row">
                                   
                                    <div class="col-md-6"> <input type="reset" class="btn btn-secondary" value="Cancel"> </div>
                                        
                                    <div class="col-md-6"> <input type="button" class="btn btn-primary" value="Post"> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->
        </div>
    </div>
</div>

  <br>
  <br>


<%- include('_partials/footer'); %>
