<!--
Dashboard
todo: 
- connect user postings to dashboard
- create admin dashboard with user interface
- create account information section
-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <header></header>

    <main>
      <%- include('_partials/header'); %>
      <!-- Your Listings Jumbotron -->
      <div class="p-3">
        <div class="jumbotron jumbotron-fluid">
          <div class="text-center">
            <h2>
              <strong>Dashboard</strong>
            </h2>
          </div>
          <div class="px-3">
            <hr />
            <!--Row-->
            <div class="row">
              <div class="col-lg-6">
                <h2>Listings</h2>
                <!-- Card Item: Start---------------------------------------------->
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Title Price</h5>
                    <p class="card-text">
                      Description
                    </p>
                    <a href="#" class="btn btn-primary">Goto</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                    <a href="#" class="btn btn-warning">Flag</a>
                    <a href="#" class="btn btn-success float-right">Approve</a>
                  </div>
                </div>
                <!-- Card Item2: End ----------------------------------------------->

                <!-- Card Item2: Start--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Title Price</h5>
                    <p class="card-text">
                      Description
                    </p>
                    <a href="#" class="btn btn-primary">Goto</a>
                    <a href="#" class="btn btn-primary">Delete</a>
                    <a href="#" class="btn btn-warning">Flag</a>
                    <a href="#" class="btn btn-success float-right">Approve</a>
                  </div>
                </div>
                <!-- Card Item2: End --xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
              </div>
              <!-- Message Section: Start-->
              <div class="col-lg-6 ">
                <h2>Messages</h2>
                <!--Message Card: Start --------------------------------------------->
                <div class="card">
                  <div class="card-header">
                    <h5>
                      From: user1
                      <a href="#" class="btn btn-danger float-right">X</a>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      Message message message message message message mesaage
                      <a href="#" class="btn btn-primary float-right">Reply</a>
                    </p>
                  </div>
                </div>
                <!--Message Card: End------------------------------------------------->

                <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
                <div class="card">
                  <div class="card-header">
                    <h5>
                      From: user1
                      <a href="#" class="btn btn-danger float-right">X</a>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      Message message message message message message mesaage
                      Message message message message message message mesaage
                      Message message message message message message mesaage
                      <a href="#" class="btn btn-primary float-right">Reply</a>
                    </p>
                  </div>
                </div>
                <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
              </div>
              <!--Message section: End-->
            </div>
            <!--postings and messages row-->
            <!--end list card item-->
          </div>
        </div>
      </div>
      <!-- End Your Listings Jumbotron -->
    </main>

    <footer>
      <%- include('_partials/footer'); %>
    </footer>
  </body>
</html>
