<!--
Dashboard
todo: 
- connect to backend
- change what buttons show up for users vs admin
-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <header></header>

    <main>
      <%- include('_partials/header'); %>
      <!-- Your Listings Jumbotron -->
      <div class="p-3">
        <div class="jumbotron jumbotron-fluid" style="min-height: 75vh;">
          <div class="text-center">
            <h2>
              <strong>Dashboard</strong>
            </h2>
          </div>
          <div class="px-3">
            <hr />
            <!--Row-->
            <div class="row">
              <div class="col-12">
                <!-- Card Item: Start---------------------------------------------->
                <!-- Card body -->
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Title (Price)</h5>
                    <p class="card-text">
                      Description
                    </p>
                    <!--goto: viewable by USER & ADMIN-->
                    <a href="#" class="btn btn-primary">Goto</a>
                    <!--delete: viewable by USER ONLY-->
                    <a href="#" class="btn btn-primary">Delete</a>
                    <!--approve: viewable by ADMIN ONLY-->
                    <a href="#" class="btn btn-success">Approve</a>
                    <!--flag: viewable by ADMIN ONLY-->
                    <a href="#" class="btn btn-warning float-right">Flag</a>
                    <!--messages: viewable by USER ONLY
                    NEED TO CHANGE DATA-TARGET FOR EACH CARD -->
                    <button
                      class="btn btn-primary float-right"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapse1"
                      aria-expanded="true"
                      aria-controls="collapse1"
                    >
                      Messages
                    </button>
                  </div>
                  <!--Messages dropdown: viewable by USER ONLY
                  NEED TO CHANGE ID FOR EACH TARGET-->
                  <div class="accordion">
                    <div
                      id="collapse1"
                      class="collapse collapse"
                      aria-labelledby="headingOne"
                    >
                      <hr />
                      <div class="card-body">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <h5>From: User1</h5>
                            Hello, i like ur house
                          </li>
                          <li class="list-group-item">
                            <h5>From: User2</h5>
                            Yo dawg, ur houz is kool
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Card Item2: End ----------------------------------------------->
              </div>
            </div>
            <!--end list card item-->
          </div>
        </div>
      </div>
      <!-- End Your Listings Jumbotron -->
    </main>

    <footer>
      <%- include('_partials/footer'); %>
    </footer>
  </body>
</html>
