<!--
Dashboard
todo: 
- connect user postings to dashboard
- create admin dashboard with user interface
- create account information section
-->
<!DOCTYPE html>
<html lang="en">
  <body>
    <header></header>

    <main>
      <%- include('_partials/header'); %>
      <!-- Your Listings Jumbotron -->
      <div class="p-3">
        <div class="jumbotron jumbotron-fluid">
          <div class="text-center">
            <h2>
              <strong>Dashboard</strong>
            </h2>
          </div>
          <div class="px-3">
            <hr />

            <!-- Card Item -->
            <div class="row">
              <div
                class="col-sm-6 col-md-6 col-lg-6"
                style="padding-right:20px; border-right: 1px solid #d1d4d7;"
              >
                <h3><strong>My postings:</strong></h3>
                <div class="row">
                  <div class="myCardPadding pt-2 pr-2">
                    <div
                      class="myCard card"
                      style="width: 19rem; height: 28rem;"
                    >
                      <img
                        class="card-img-top"
                        src="/images/houseFiller.jpg"
                        alt="Card image cap"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn float-right btn-danger"
                          >Delete</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Card Item-->
                <!--class=row-->
              </div>
              <!--class=col-sm-6 col-md-6 col-lg-6-->
              <div class="col-sm-6 col-md-6 col-lg-6 ">
                <h3><strong>My messages:</strong></h3>
                <hr />
                <pre><h5>From: user1          Date: 5/7/2019</h5></pre>
                <p>hello, i want to rent your house!</p>
                <hr />
                <hr />
                <pre><h5>From: user2          Date: 5/6/2019</h5></pre>
                <p>hello, i also want to rent your house!</p>
                <hr />
                <hr />
                <pre><h5>From: user3          Date: 5/5/2019</h5></pre>
                <p>hi, i am interested in you house.</p>
                <hr />
                <hr />
                <pre><h5>From: user4          Date: 5/4/2019</h5></pre>
                <p>hello, i plan to rent your house!</p>
                <hr />
                <hr />
                <pre><h5>From: user5          Date: 5/2/2019</h5></pre>
                <p>
                  hello, can you call my number 123-123-1234, i want you rent
                  your house!
                </p>
                <hr />
                <hr />
                <pre><h5>From: user6          Date: 5/2/2019</h5></pre>
                <p>
                  hello, hello, hello, hello,hello, hello,hello, hello,hello,
                  hello,hello, hello,hello, hello,hello, hello,hello, hello,
                </p>
                <hr />
              </div>
              <!--message column-->
            </div>
            <!--postings and messages row-->
            <!--end list card item-->
          </div>
        </div>
      </div>
      <!-- End Your Listings Jumbotron -->
    </main>

    <footer>
      <%- include('_partials/footer'); %>
    </footer>
  </body>
</html>
