<%- include('_partials/header'); %>

<style>
  .top-section {
    background: url(/images/backgroundFade2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 75vh;
  }

  .formBG {
    background: #343a40;
  }
</style>

<!--///////////////////////////////////-->

<body>
  <div class="top-section">
    <div class="row">
      <!--FILTERS-->
      <!--grid left (filters)-->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%- include('_partials/filters'); %>
      </div>

      <!--grid right (card items)-->
      <div class="col-sm-6 col-md-8 col-lg-9">
        <div class="row">
          <!--card item 1-->
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="/images/houseFiller.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!--card item 2-->
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="/images/houseFiller.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <!--card item 3-->
          <div class="card" style="width: 20rem;">
            <img
              class="card-img-top"
              src="/images/houseFiller.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <!--end cards-->
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('_partials/footer'); %>
