
<!DOCTYPE html>
<html>
<head>
<title>Messages</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: solid rgb(161, 21, 189);
  background-color: #f1f1f1;
  width: 30%;
  height: 600px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: solid rgb(161, 21, 189);
  width: 70%;
  border-left: none;
  height: 600px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: solid rgb(165, 163, 163);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

button {
  background-color: rgb(161, 21, 189);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

div.contactList {  
  height: 535px;
  overflow: scroll;
}

div.chatHistory {
  background-color: white;
  height: 400px;
  overflow: scroll;
  border: solid rgb(165, 163, 163);
}

</style>
</head>
<body>

<center><h1>Messages</h1></center>

<div class="tab">
  <h3>Contact</h3>
  <div class="contactList">
  <button class="tablinks" onclick="openMessenger(event, 'messenger1')" id="defaultOpen">Messenger1</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger2')">Messenger2</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger3')">Messenger3</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger4')">Messenger4</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger5')">Messenger5</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger6')">Messenger6</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger7')">Messenger7</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger8')">Messenger8</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger9')">Messenger9</button>
  <button class="tablinks" onclick="openMessenger(event, 'messenger10')">Messenger10</button>
  </div>
</div>
<!--messenger 1 chat history-->
<div id="messenger1" class="tabcontent">
  <h3>Messenger1</h3>
  <div class="chatHistory">
    <p>Chat history 1....</p>
    <p>Chat history 1....</p>
    <p>Chat history 1....</p>
    <p>Chat history 1....</p>
    <p>Chat history 1....</p>
    <p>Chat history 1....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
  </div>

  <div>
    <p>
    </p>     
  </div>
  
  <form>
    <input
      name="message"
      type="text"
      class="form-control form-control-lg"
      placeholder="Text Message..."
    />
    <span class="input-group-prepend">
        <button class="btn btn-primary" type="submit" style="float: right;">
          send
        </button>
    </span>
  </form>

</div>
<!--messenger 2 chat history-->
<div id="messenger2" class="tabcontent">
  <h3>Messenger2</h3>
  <div class="chatHistory">
    <p>Chat history 2....</p>
    <p>Chat history 2....</p>
    <p>Chat history 2....</p>
    <p>Chat history 2....</p>
    <p>Chat history 2....</p>
    <p>Chat history 2....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
  </div> 

  <div>
    <p>
    </p>     
  </div>
  
  <form>
    <input
      name="message"
      type="text"
      class="form-control form-control-lg"
      placeholder="Text Message..."
    />
    <span class="input-group-prepend">
        <button class="btn btn-primary" type="submit" style="float: right;">
          send
        </button>
    </span>
  </form>

</div>
<!--messenger 3 chat history-->
<div id="messenger3" class="tabcontent">
  <h3>Messenger3</h3>
  <div class="chatHistory">
    <p>Chat history 3....</p>
    <p>Chat history 3....</p>
    <p>Chat history 3....</p>
    <p>Chat history 3....</p>
    <p>Chat history 3....</p>
    <p>Chat history 3....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
    <p>Chat history....</p>
  </div>

  <div>
    <p>
    </p>     
  </div>
  
  <form>
    <input
      name="message"
      type="text"
      class="form-control form-control-lg"
      placeholder="Text Message..."
    />
    <span class="input-group-prepend">
        <button 
          class="btn btn-primary" 
          type="submit" 
          style="float: right;">
          send
        </button>
    </span>
  </form>

</div>
<!--messenger 4 chat history-->
<div id="messenger4" class="tabcontent">
    <h3>Messenger4</h3>
    <div class="chatHistory">
      <p>Chat history 4....</p>
      <p>Chat history 4....</p>
      <p>Chat history 4....</p>
      <p>Chat history 4....</p>
      <p>Chat history 4....</p>
      <p>Chat history 4....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div>
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit" style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 5 chat history-->
  <div id="messenger5" class="tabcontent">
    <h3>Messenger5</h3>
    <div class="chatHistory">
      <p>Chat history 5....</p>
      <p>Chat history 5....</p>
      <p>Chat history 5....</p>
      <p>Chat history 5....</p>
      <p>Chat history 5....</p>
      <p>Chat history 5....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div> 
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit" style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 6 chat history-->
  <div id="messenger6" class="tabcontent">
    <h3>Messenger6</h3>
    <div class="chatHistory">
      <p>Chat history 6....</p>
      <p>Chat history 6....</p>
      <p>Chat history 6....</p>
      <p>Chat history 6....</p>
      <p>Chat history 6....</p>
      <p>Chat history 6....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div>
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button 
            class="btn btn-primary" 
            type="submit" 
            style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 7 chat history-->
  <div id="messenger7" class="tabcontent">
    <h3>Messenger7</h3>
    <div class="chatHistory">
      <p>Chat history 7....</p>
      <p>Chat history 7....</p>
      <p>Chat history 7....</p>
      <p>Chat history 7....</p>
      <p>Chat history 7....</p>
      <p>Chat history 7....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div>
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit" style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 8 chat history-->
  <div id="messenger8" class="tabcontent">
    <h3>Messenger8</h3>
    <div class="chatHistory">
      <p>Chat history 8....</p>
      <p>Chat history 8....</p>
      <p>Chat history 8....</p>
      <p>Chat history 8....</p>
      <p>Chat history 8....</p>
      <p>Chat history 8....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div> 
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit" style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 9 chat history-->
  <div id="messenger9" class="tabcontent">
    <h3>Messenger9</h3>
    <div class="chatHistory">
      <p>Chat history 9....</p>
      <p>Chat history 9....</p>
      <p>Chat history 9....</p>
      <p>Chat history 9....</p>
      <p>Chat history 9....</p>
      <p>Chat history 9....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div>
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button 
            class="btn btn-primary" 
            type="submit" 
            style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  <!--messenger 10 chat history-->
  <div id="messenger10" class="tabcontent">
    <h3>Messenger10</h3>
    <div class="chatHistory">
      <p>Chat history 10....</p>
      <p>Chat history 10....</p>
      <p>Chat history 10....</p>
      <p>Chat history 10....</p>
      <p>Chat history 10....</p>
      <p>Chat history 10....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
      <p>Chat history....</p>
    </div>
  
    <div>
      <p>
      </p>     
    </div>
    
    <form>
      <input
        name="message"
        type="text"
        class="form-control form-control-lg"
        placeholder="Text Message..."
      />
      <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit" style="float: right;">
            send
          </button>
      </span>
    </form>
  
  </div>
  


<!--function to show chat history of a messenger when user click messenger name-->
<script>
    function openMessenger(evt, messengerName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(messengerName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

</body>
</html>