<!--
Simple disclamer banner
-->

<header></header>
<body
  style="height: 40px; width: 100%; background-color: rgb(216, 216, 216); color: rgb(48, 48, 48)"
>
  <h4 class="text-center">
    SFSU Software Engineering Project CSC 648-848 Section 2 Team 11, Spring
    2019. For Demonstration Only
  </h4>
</body>
<footer></footer>
