<!--

ACTIVE FILTER PARTIAL:
todo: 
- change input feilds to range selection sliders
- connect to DB for filter query

-->

<body>
  <div class="collapse pb-3" id="collapseFilters">
    <div class="card card-body">
      <div class="row">
        <!--PRICING-->
        <div
          class="col-sm-4"
          style="padding-right:20px; border-right: 1px solid #ccc;"
        >
          <strong>Price Range:</strong>
          <!--min price-->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Min price"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
          <!--max price-->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Max price"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
        </div>
        <!--BEDROOMS-->
        <div
          class="col-sm-4"
          style="padding-right:20px; border-right: 1px solid #ccc;"
        >
          <!--Min Bedrooms-->
          <strong>Bedrooms:</strong>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Min"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
          <!--Max Bedrooms-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Max"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
        </div>
        <!--BATHROOMS-->
        <div class="col-sm-4">
          <strong>Bathrooms:</strong>
          <!--min Bathrooms-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Min"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
          <!--Max Bathrooms-->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Max"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
        </div>
      </div>
      <!--/////////////////////////-->
      <div class="row">
        <div class="col-sm-4 ">
          <strong>Miles from Campus:</strong>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Miles"
              aria-label="Amount (to the nearest dollar)"
            />
          </div>
        </div>
        <!--SEARCH FILTERS-->
        <div class=" col-sm-3 offset-sm-5 py-3 text-muted">
          <button class="btn btn-primary btn-block py-3">Apply Filters</button>
        </div>
      </div>
    </div>
  </div>
</body>
