<!--
  Filter partial: price, bedrooms, bathrooms, miles from campus
  todo:
  - add more filters
-->

<div class="py-2">
  <a href="/create-post">
    <button class="btn btn-primary btn-block py-3">Create Post</button></a
  >
</div>
<div class=" cardSize card text-center">
  <!--card head-->
  <div class="card-header">
    <strong>Filters</strong>
  </div>
  <form method="post" action="/listing/">
    <div class="card-body">
      <div class="form-check">
        <!--housing type-->
        <div class=" text-left">
          <!--////////  PRICE  RANGE  //////////-->
          <%- include('../_partials/filterItems/priceRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  BEDROOM  RANGE  //////////-->
          <%- include('../_partials/filterItems/bedroomsRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  BATHROOM  RANGE  //////////-->
          <%- include('../_partials/filterItems/bathroomsRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  MILES  FROM  SCHOOL  //////////-->
          <%- include('../_partials/filterItems/milesFromCampus'); %>
          <!--morefilters expanded-->
          <div class="collapse" id="collapseExample">
            <p></p>
            <div class="dropdown-divider"></div>
            <!-- *** ENTER EXTRA FILTER OPTIONS BELOW ***-->
            <p></p>
          </div>
        </div>
      </div>
      <!-- More Filters buttom
      <a
        class="btn btn-outline-secondary"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        More Filters
      </a> -->
    </div>
    <!--card footer-->
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col">
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
          </div>
      <!--<a href="#" class="btn btn-primary">Search Filter</a>-->
    </div>
  </form>
</div>
