<!--
  Filter partial: price, bedrooms, bathrooms, miles from campus
  todo:
  - add more filters
-->
<div class="cardSize card text-center" style="margin-top:2em;margin-bottom:2em;">
  <!--card head-->
  <div class="card-header">
    <strong>Filters</strong>
  </div>
  <form method="post" action="/listing/">
    <div class="card-body">
      <div class="form-check">
        <!--housing type-->
        <div id="checkbox-container" class="text-left">
          <!--////////  PRICE  RANGE  //////////-->
          <%- include('../_partials/filterItems/priceRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  BEDROOM  RANGE  //////////-->
          <%- include('../_partials/filterItems/bedroomsRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  BATHROOM  RANGE  //////////-->
          <%- include('../_partials/filterItems/bathroomsRange'); %>
          <div class="dropdown-divider"></div>
          <!--////////  MILES  FROM  SCHOOL  //////////-->
          <%- include('../_partials/filterItems/milesFromCampus'); %>
          <!--morefilters expanded-->
          <div class="collapse" id="collapseExample">
            <p></p>
            <div class="dropdown-divider"></div>
            <!-- *** ENTER EXTRA FILTER OPTIONS BELOW ***-->
            <p></p>
          </div>
        </div>
      </div>
      <!-- More Filters buttom
      <a
        class="btn btn-outline-secondary"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        More Filters
      </a> -->
    </div>
    <!--card footer-->
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col">
                <button type="reset" id="filterReset" class="btn btn-danger">Reset</button>
            </div>
            <div class="col">
                <button type="submit" id="filterUpdate" class="btn btn-success">Update</button>
            </div>
          </div>
      <!--<a href="#" class="btn btn-primary">Search Filter</a>-->
    </div>
  </form>
</div>

<!--Save FILTERING On clients local storage-->
<script type="text/javascript">
  var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {},
    $checkboxes = $("#checkbox-container :checkbox");

// Set filters on page load
$.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});
//Reset Button Pressed
$("#filterReset").click(() =>{
  $checkboxes.each(function(){
    checkboxValues[this.id] = false;
  });
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});
//Update Button Pressed
$("#filterUpdate").click(() =>{
  $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });
  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
});
</script>
