<!--
  simple footer to display gatorrent, copyright, and a way to contact us
  todo:
  - enable contact message to send to project email
-->

    <!-- DO NOT PUT OPENING BODY OR HTML TAGS IN HEADER-->

<style>
  .textcolor {
    color: #fff;
  }
</style>

<footer id="main-footer" class="bg-dark">
  <div class="container" style="padding-top:1em;">
    <div class="row">
    <div class="col">
        <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#contactModal"
        >
        Contact
      </button>
    </div>
    <div class="textcolor col">
        <h3>SFSU Rent</h3>
        <p>
          Copyright &copy; 2019
        </p>
      </div>
    <div class="col">
      <button
      class="btn btn-success"
      onclick="window.location.href = '/about';"
      >
      About
      </button>
    </div>
  </div>
  </div>

  <!--Contact Us Modal-->
  <%- include('contactModal'); %>

<!-- DO NOT DELETE BELOW CLOSING TAGS-->
        </footer>
      </div>
    </body>
</html>
