<!--
  simple footer to display gatorrent, copyright, and a way to contact us
  todo:
  - enable contact message to send to project email
-->

    <!-- DO NOT PUT OPENING BODY OR HTML TAGS IN HEADER-->

<style>
  .textcolor {
    color: #fff;
  }
</style>

  <!-- Modal -->
  <div class="modal fade" id="contactLandlordModal" tabindex="-1" role="dialog" aria-labelledby="contactLandlordModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Type your message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="form" role="form" autocomplete="off" action="/dashboard/listing/message" method="post">
              <input type="hidden" id="messageListingId"/>
            <div class="modal-body">
                <textarea class="form-control" id="messageBody" rows="3"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="sendMsg" >Send Message</button>
            </div>
          </form>
          </div>
      </div>
    </div>
    <script>




        // $('#contactLandlordModal').on('show.bs.modal', function(e) {
        //   setSendingDone();
        //   var listingId = $(e.relatedTarget).data('listing-id');
        //   $(e.currentTarget).find('#messageListingId').val(listingId);
        // });



      $('#sendMsg').click(() => {
        setSending();
        
        var jqxhr = $.post( "/dashboard/listing/" + $('#messageListingId').val() + "/message",
        {
          messageBody: $('#messageBody').val()
        },
         function() {
          alert( "Message sent!" );
          $('#contactLandlordModal').modal('hide');
        })
        .fail(function() {
          alert( "Error sending message!" );
        })
        .always(function() {
        });
      });

      function setSending(){
        $('#sendMsg').attr("disabled", true);
        $('#sendMsg').html('<i class="fa fa-spinner fa-spin"></i>');
      }

      function setSendingDone(){
        $('#sendMsg').attr("disabled", false);
        $('#sendMsg').html('Send Message');
      }

      function ShowSendMessageDialog(listing_id){
        let isLoggedIn = <%= isLoggedIn %>;
        if(isLoggedIn){
          setSendingDone();
          $('#messageListingId').val(listing_id);
          $('#contactLandlordModal').modal('show');
        }else{
          $('#loginModal').modal('show');
        }
      }
 
    </script>

<footer id="main-footer" class="bg-dark">
  <div class="container" style="padding-top:1em;">
    <div class="row">
    <div class="col">
        <button
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#contactModal"
        >
        Contact
      </button>
    </div>
    <div class="textcolor col">
        <h3>SFSU Rent</h3>
        <p>
          Copyright &copy; 2019
        </p>
      </div>
    <div class="col">
      <button
      class="btn btn-success"
      onclick="window.location.href = '/about';"
      >
      About
      </button>
    </div>
  </div>
  </div>

  <!--Contact Us Modal-->
  <%- include('contactModal'); %>

<!-- DO NOT DELETE BELOW CLOSING TAGS-->
        </footer>
      </div>
    </body>
</html>
