<style>
  #search-section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40px;
  }

  #search-section .search-inner {
    padding-top: 0;
  }
</style>

<!--/////////////////////////////////////////////////////////////////////-->

<header id="search-section">
  <div class="search-inner px-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <!--need to change 'housing type' with what was selected from dropdown-->
          <a>All</a>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">All</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="/listing/apartment">Apartment</a>
          <a class="dropdown-item" href="/listing/bungalow">Bungalow</a>
          <a class="dropdown-item" href="/listing/room">Room</a>
        </div>
      </div>
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Search"
      />
      <span class="input-group-prepend">
        <button class="btn btn-primary" type="button">
          Search
        </button>
      </span>
    </div>
  </div>
</header>
