<style>
  #search-section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40px;
  }

  #search-section .search-inner {
    padding-top: 0;
  }
</style>

<!--/////////////////////////////////////////////////////////////////////-->

<header id="search-section">
  <form method="post" action="/listing/">
    <div class="search-inner px-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <!-- <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            need to change 'housing type' with what was selected from dropdown
            <a>All</a>
          </button> -->
          
          <!-- <div class="dropdown-menu">
            <a class="dropdown-item" href="/listing/">All</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="/listing/apartment">Apartment</a>
            <a class="dropdown-item" href="/listing/bungalow">Bungalow</a>
            <a class="dropdown-item" href="/listing/room">Room</a>
          </div> -->
          
          <!--////testing--change dropdown items to options////////-->
          <!--onchange="location = this.value;"-->
 
            <select >
              <option value="">all</option>
              <option value="apartment">apartment</option>
              <option value="bungalow">bungalow</option>
              <option value="room">room</option>
            </select>
          
          <!--////////////-->
        </div>
        
        <input
          name="keyword"
          type="text"
          class="form-control form-control-lg"
          placeholder="Search"
        />
        <span class="input-group-prepend">
          <button class="btn btn-primary" type="submit">
            Search
          </button>
        </span>
      </div> 
    </div>
  </form>
</header>
