<div class="jumbotron">
     <h1 class="display-4">Our Mission</h1>
     <p class="lead">Provide housing opportunities for incoming San Francisco State University students so they can find housing at a convenient and affordable price.</p>
     <hr class="my-4">
     <p>Below is our team of developers who have made this website possible</p>
</div>