<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: rgb(95,158,160); /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  </style>
</head>
<body>

<!-- Name Section --> 
<div class="container-fluid bg-1 text-center">
    <img class="img-responsive img-circle margin" src="../../public/images/cory-lewis.jpg" style="display:inline" alt="Cory Profile Image" width="350" height="350">
    <h3 class="margin">Cory Lewis</h3>
    <h3>Developer, Mathematician, Designer</h3>
  </div>
  
  <!-- About Me Section -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">About Me</h3>
    <p>Passionate Computer Science student, completing undergrad studies at San Francisco State University. My programming experience consists of Software Development (JAVA, C++, C#, Vb.Net), Game Development (Unity with C#), Web Development (Apache Cordova, Phaser.js, Bootstrap, ASP.Net Razor MVC, JavaScript, CSS, HTML 5).
        Design Experience using the following tools: Photoshop, and SolidWorks 2018.
        Professional Work Experience: Facilities Technician for College of the Sequoias, Residential Computing Consultant for San Francisco State University, and TA for Programming Methodology at San Francisco State University.
        Competition History:
        SF Hacks Hackathon (Node.JS, Twilio API) - Utilized Twilio API to receive a phone call, transcribe the callers words and upload to YouTube. - unknown place.
        Nasa Swarmathon (C++, ROSS) - Competed to develop the most efficient pathing algorithm for MARS rovers by utilizing NASA's swarmathon physics engine for testing. - 5th place.</p>
  </div>

  <!-- Programming Skills Section -->
  <div class="container-fluid bg-2 text-center" style = "padding-left: 100px; padding-right: 100px">
    <h3 class="margin">Programming Skills</h3>
    <!-- First Skill -->
    <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:95%">
        JAVA
        </div>
      </div>
    <!-- Second Skill -->
      <div class="progress">
          <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
        C++
        </div>
      </div>
    <!-- Third Skill -->  
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
        JavaScript
        </div>    
      </div>  
      <!-- Fourth Skill --> 
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:92%">
        Vb.Net
        </div>
      </div>  
      <!-- Fifth Skill -->          
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        C#
        </div>  
      </div>
  </div>

  <!-- Get in Touch Section -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">Get In Touch</h3>
    <a href="https://github.com/mecharmor">
    <img class="img-responsive " src="../../public/images/github-logo.png" style="display:inline ;padding-right:50px" alt="github" width="150" height="150">
    </a>
    <a href="https://www.linkedin.com/in/cory-lewis-071b28a6/">
    <img class="img-responsive " src="../../public/images/linkedin-logo.png" style="display:inline ;padding-left:50px" alt="github" href="www.apple.com" width="150" height="150">
    </a>
  </div>


</body>
</html>