<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: rgb(95,158,160); /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  </style>
</head>
<body>

<!-- Name Section --> 
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">David Dropping</h3>
    <img class="img-responsive img-circle margin" src="../../public/images/david_dropping_profile.jpg" style="display:inline" alt="Chintan Image" width="350" height="350">
    <h3> Web Developer, Software Developer, Surfer</h3>
  </div>
  
  <!-- About Me Section -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">About Me</h3>
    <p>
        I am an undergraduate student at San Francisco State University. 
        I love surfing, skateboarding, snowboarding, and most other sports. 

    </p>
  </div>

  <!-- Programming Skills Section -->
  <div class="container-fluid bg-2 text-center" style = "padding-left: 100px; padding-right: 100px">
    <h3 class="margin">Programming Skills</h3>
    <!-- First Skill -->
    <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
        JAVA
        </div>
      </div>
    <!-- Second Skill -->
      <div class="progress">
          <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%">
        JAVASCRIPT
        </div>
      </div>
    <!-- Third Skill -->  
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
        C++
        </div>    
      </div>  
      <!-- Fourth Skill --> 
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        C
        </div>
      </div>  
      <!-- Fifth Skill -->          
      <div class="progress">
        <!-- CHANGE THE WIDTH IN STYLE TO YOUR DESIRED PERCENTAGE -->
        <div class="bg-1 progress-bar progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:50%">
        MYSQL
        </div>  
      </div>
  </div>

  <!-- Get in Touch Section -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">Get In Touch</h3>
    <a href="https://github.com/ddropping">
    <img class="img-responsive " src="../../public/images/github-logo.png" style="display:inline ;padding-right:50px" alt="github" width="150" height="150">
    </a>
    <a href="https://www.linkedin.com/in/daviddropping/">
    <img class="img-responsive " src="../../public/images/linkedin-logo.png" style="display:inline ;padding-left:50px" alt="github" href="www.apple.com" width="150" height="150">
    </a>
  </div>


</body>
</html>