<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>About</title>
</head>

<body>

    <%- include('../_partials/nav'); %>

    <!---Meet The Team-->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Meet the Team</h1>
            </div>
            <hr>
        </div>
    </div>

    <hr>

    <!---Cards-->
    <div class="container-fluid padding">
        <div class="row padding">
            <!---Cory Lewis-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/cory-lewis.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Cory Lewis</h4>
                        <p class="card-text">Team Lead
                        </p>
                        <a href="/about/cory-lewis" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---David Dropping-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/images.jpg">
                    <div class="card-body">
                        <h4 class="card-title">David Dropping</h4>
                        <p class="card-text">Front End Lead
                        </p>
                        <a href="/about/david-dropping" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---Soheil Ansari-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/soheil.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Soheil Ansari</h4>
                        <p class="card-text">Back End Lead
                        </p>
                        <a href="/about/soheil-ansari" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---Xinyu Zou-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/xinyuz.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Xinyu Zou</h4>
                        <p class="card-text">Github Master
                        </p>
                        <a href="/about/xinyu-zou" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---Poorva Rathi-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/images.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Poorva Rathi</h4>
                        <p class="card-text">Front End / Back End Developer
                        </p>
                        <a href="/about/poorva-rathi" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---Chintan Puri-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/chintan-puri-profile.png">
                    <div class="card-body">
                        <h4 class="card-title">Chintan Puri</h4>
                        <p class="card-text">Front End Developer
                        </p>
                        <a href="/about/chintan-puri" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
            <!---Junwei Liang-->
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../public/images/junwei_liang.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Junwei Liang</h4>
                        <p class="card-text">Back End Developer
                        </p>
                        <a href="/about/junwei-liang" class="btn btn-outline-secondary"> See Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>