<!--
    Checkbox options for number of bathrooms
    Todo: Implement the filter based on user input
-->

<strong>Bathrooms:</strong>
<!-- Bathrooms: 1 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bathroom1"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    1
  </label>
</div>
<!-- Bathrooms: 2 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bathroom2"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    2
  </label>
</div>
<!-- Bathrooms: 3 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bathroom3"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    3
  </label>
</div>
<!-- Bathrooms: 4+ -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bathroom4+"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    4+
  </label>
</div>

<!--
    Min Bathrooms
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Min:</span>
  </div>
  <input
    name="minBathrooms"
    type="text"
    class="form-control"
    placeholder="Min"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.minBathrooms %>"
  />
  <!--Max Bathrooms
  <div class="pr-1"></div>
  <div class="input-group-prepend">
    <span class="input-group-text">Max: </span>
  </div>
  <input
    name="maxBathrooms"
    type="text"
    class="form-control"
    placeholder="Max"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.maxBathrooms %>"
  />
</div>
-->
