<strong>Bathrooms:</strong>
<!--Min Bathrooms-->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Min:</span>
  </div>
  <input
    name="minBathrooms"
    type="text"
    class="form-control"
    placeholder="Min"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.minBathrooms %>"
  />
  <!--Max Bathrooms-->
  <div class="pr-1"></div>
  <div class="input-group-prepend">
    <span class="input-group-text">Max: </span>
  </div>
  <input
    name="maxBathrooms"
    type="text"
    class="form-control"
    placeholder="Max"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.maxBathrooms %>"
  />
</div>
