<!--
    Checkbox options for number of bathrooms
    Todo: Implement the filter based on user input
-->

<strong>Bathrooms:</strong>
<!-- Bathrooms: 1 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="1"
    id="bathroomCheck1"
    name="bath1"
  />
  <label class="form-check-label" for="bathroomCheck1">
    1
  </label>
</div>
<!-- Bathrooms: 2 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="2"
    id="bathroomCheck2"
    name="bath2"
  />
  <label class="form-check-label" for="bathroomCheck2">
    2
  </label>
</div>
<!-- Bathrooms: 3 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="3"
    id="bathroomCheck3"
    name="bath3"
  />
  <label class="form-check-label" for="bathroomCheck3">
    3
  </label>
</div>
<!-- Bathrooms: 4+ -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="4"
    id="bathroomCheck4"
    name="bath4"
  />
  <label class="form-check-label" for="bathroomCheck4">
    4+
  </label>
</div>