<!--
  Checkbox options for number of bedrooms
  Todo: Implement the filter based on user input
-->

<strong>Bedrooms:</strong>
<!-- Bedrooms: 1 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bedroom1"
    id="bedroomCheck1"
  />
  <label class="form-check-label" for="bedroomCheck1">
    1
  </label>
</div>
<!-- Bedrooms: 2 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bedroom2"
    id="bedroomCheck2"
  />
  <label class="form-check-label" for="bedroomCheck2">
    2
  </label>
</div>
<!-- Bedrooms: 3 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bedroom3"
    id="bedroomCheck3"
  />
  <label class="form-check-label" for="bedroomCheck3">
    3
  </label>
</div>
<!-- Bedrooms: 4 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bedroom4"
    id="bedroomCheck4"
  />
  <label class="form-check-label" for="bedroomCheck4">
    4
  </label>
</div>
<!-- Bedrooms: 5+ -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="bedroom5+"
    id="bedroomCheck5"
  />
  <label class="form-check-label" for="bedroomCheck5">
    5+
  </label>
</div>

<!--
  Min Bedrooms
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Min:</span>
  </div>
  <input
    name="minBedrooms"
    type="text"
    class="form-control"
    placeholder="Min"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.minBedrooms %>"
  />
  <!--Max Bedrooms
  <div class="pr-1"></div>
  <div class="input-group-prepend">
    <span class="input-group-text">Max:</span>
  </div>
  <input
    name="maxBedrooms"
    type="text"
    class="form-control"
    placeholder="Max"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.maxBedrooms %>"
  />
</div>
-->
