<strong>Miles from Campus:</strong>
<div class="input-group mb-3">
  <input
    name="distance"
    type="text"
    class="form-control"
    placeholder="Miles"
    aria-label="Amount (to the nearest Miles)"
    value="<%= FILTER.distance %>"
  />
</div>
