<!--
    user input field for distance from campus
-->

<strong>Miles from Campus:</strong>
<!-- <div class="input-group mb-3">
  <input
    name="distance"
    type="text"
    class="form-control"
    placeholder="Miles"
    aria-label="Amount (to the nearest Miles)"
    value="<%= FILTER.distance %>"
  />
</div> -->

<!-- Below 1-Mile -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange1"
    id="distanceCheck1"
  />
  <label class="form-check-label" for="distanceCheck1">
    Less than 1
  </label>
</div>
<!-- 1 to 2 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange2"
    id="distanceCheck2"
  />
  <label class="form-check-label" for="distanceCheck2">
    1 - 2
  </label>
</div>
<!-- 2 to 3 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange3"
    id="distanceCheck3"
  />
  <label class="form-check-label" for="distanceCheck3">
    2 - 3
  </label>
</div>
<!-- 3 - 4 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange4"
    id="distanceCheck4"
  />
  <label class="form-check-label" for="distanceCheck4">
    3 - 4
  </label>
</div>
<!-- 4 - 5 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange5"
    id="distanceCheck5"
  />
  <label class="form-check-label" for="distanceCheck5">
    4 - 5
  </label>
</div>
<!-- 5 - 6 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange6"
    id="distanceCheck6"
  />
  <label class="form-check-label" for="distanceCheck6">
    5 - 6
  </label>
</div>
<!-- Above 6 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="distanceRange7"
    id="distanceCheck7"
  />
  <label class="form-check-label" for="distanceCheck7">
    Greater Than 6
  </label>
</div>
