<strong>Miles from Campus:</strong>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Miles:</span>
  </div>
  <input
    name="distance"
    type="text"
    class="form-control"
    placeholder="Miles"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.distance %>"
  />
</div>
