<!--
  Checkbox options for price range filter
  Todo: Implement the filter based on user input
-->

<strong>Price Range:</strong>
<!-- Below $500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange1"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    Below $500
  </label>
</div>
<!-- $500 - $1000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange2"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    $500 - $1000
  </label>
</div>
<!-- $1000 - $1500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange3"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    $1000 - $1500
  </label>
</div>
<!-- $1500 - $2000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange4"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    $1500 - $2000
  </label>
</div>
<!-- $2000 - $2500 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange5"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    $2000 - $2500
  </label>
</div>
<!-- $2500 - $3000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange6"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    $2500 - $3000
  </label>
</div>
<!-- Above $3000 -->
<div class="form-check">
  <input
    class="form-check-input"
    type="checkbox"
    value="priceRange7"
    id="defaultCheck1"
  />
  <label class="form-check-label" for="defaultCheck1">
    Above $3000
  </label>
</div>

<!--*** OLD PRICE RANGE W/ USER INPUT FIELD ***-->

<!--min price
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input
    name="minPrice"
    type="text"
    class="form-control"
    placeholder="Min price"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.minPrice %>"
  />
  <!--max price
  <div class="pr-1"></div>
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input
    name="maxPrice"
    type="text"
    class="form-control"
    placeholder="Max price"
    aria-label="Amount (to the nearest dollar)"
    value="<%= FILTER.maxPrice %>"
  />
-->
